# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

1. List popular languages for Data Science
2. List popular Data Science Tools
3. List popular Library used by Data Scientists

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. C++
4. C

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools | 
| -------------| 
| JupyterLab|
|ApacheSpark|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers

In [3]:
(3*4)+5

17

In [ ]:
This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

## Author:

Luciana Ritter